extends layout

block styles
  link(rel="stylesheet", href="/css/index.css")
block content
  h1 Login
  form
    .form-group
      label(for='email') Email address
      input#email.form-control(type='email', placeholder='Email')
    .form-group
      label(for='password') Password
      input#password.form-control(type='password', placeholder='Password')
    button.btn.btn-default(type='submit') Login
    //- a.btn.btn-default(href='/info', role='button', id='submitLogin') Login

block scripts
  script(src="/js/login.js")