extends layout

block styles
  link(rel="stylesheet", href="/css/userPage.css")

block content
  if admin
    h1 My User Page
  else
    h1 #{user.profileName}'s Page
  .container.col-xs-3
    h2 Profile Pic
    if user.iUrl
      img(src= user.iUrl)
    else
      img(src='/img/defaultImage.jpg')
  .container.col-xs-1.test
    h2 Name: 
    label Blurb: 
  .container.col-xs-8.paddingLittle
    h2= user.profileName
    p= user.blurb
  