body {
  background-image: url(/img/download.jpg);
  background-size: cover;
  background-position: top right;
  background-position-x: 100%;
  background-position-y: 0%;
  background-repeat: no-repeat;
}

h1 {
  margin-top: 400px;
  color: blue;
  font-size: 46px;
  font-weight: bold;
  font-family: 'News Cycle', sans-serif;
  /*margin-right: 20px;*/
}

p {
  color: blue;
  font-size: 20px;
  font-weight: bold;
  /*margin-right: 600px;*/
  font-family: 'News Cycle', sans-serif;
}
h4 {
  color: blue;
  font-weight: bold;
}