body {
  background-image: url(/img/download.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#myContainer {
  background-color: rgb(53,63,69);
  opacity: .95;
  border-radius: 10px;
}

#loginUser {
	display: none;
}