
img {
	width: 100%;
}

.userLinks {
	text-align: center;
}

.userLinks h3 {
	padding: 0px;
	margin: 0px;
}

.userLinks:hover {
	color: rgb(53,63,69);
	background-color: white;
	cursor: pointer;
	border-radius: 10px;
}

.userLinks:active {
	background-color: rgb(198,198,198);
}

.myGlyphs {
	font-size: 50px;
	font-weight: bold;
}

.myContainers {
	font-family: 'Cinzel', serif;
	padding-right: 45px;
}